
.sidebar {background-color: orange;
float: right;
}

.siderbar1{background-color: pink;}

.container{background-color: green;
float: right;
}
.footer{background-color: yellow;
float: right;}
background{width:100%;
}